section{
    margin:auto;
    text-align: center;
}
p{
    margin:auto;
    text-align: center;
}
img{
    margin:auto;
    text-align: center;
}
h1{
    margin:auto;
    text-align: center;
}
a{
margin:auto;
text-align: center;
}
form{
    margin:auto;
    text-align: center;
}
<h1 style="background-color:Gray;">Gray</h1>